#player-container {
    border-top: 2px solid rgb(214, 214, 214);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
}


#art-container {
    padding: 10px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-button {
    margin: 0 15px 0;
}

.seek-bar input{
    margin-bottom: 20px;
    width: 100%;
}

#player-button-container {
    text-align: center;
}
