#player-container {
    -webkit-box-shadow: 0px -2px 25px 0px rgba(143,137,143,1);
    -moz-box-shadow: 0px -2px 25px 0px rgba(143,137,143,1);
    box-shadow: 0px -2px 25px 0px rgba(143,137,143,1);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
}


#art-container {
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniplayer-cover-art {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

#controls-container {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-button {
    margin: 0 15px 0;
}

.seek-bar input{
    margin-bottom: 20px;
    width: 100%;
}

#player-button-container {
    text-align: center;
}
